@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Montserrat Medium"), local("Montserrat-Medium"),
    url(assets/fonts/montserrat-medium.woff2) format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
    url(assets/fonts/montserrat-semi-bold.woff2) format("woff2");
}

html,
body {
  overflow: initial;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  min-width: 300px;
}
:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}
.button {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  text-decoration: none;
}
.button.full {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
  padding: 8px 0;
  justify-content: center;
  width: 100%;
  line-height: 24px;
}
.button:hover,
.button:focus {
  background-color: rgba(0, 0, 0, 0.7);
}
.link {
  color: #000;
  font-weight: bold;
}
.link:hover,
.link:focus {
  text-decoration: none;
}
.link:focus {
  outline: 1px dotted #000;
}
div.error {
  margin: 0 0 3px;
  line-height: 31px;
  font-size: 14px;
  border-radius: 5px;
  padding: 1px 4px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  color: #fff;
  background: #d93025;
  box-sizing: border-box;
}
.error .icon {
  display: inline-block;
  min-width: 16px;
  text-align: center;
  margin-right: 4px;
  font-weight: 600;
}
.error.non-field {
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  margin-top: 15px;
}
.content p,
.row {
  margin: 10px 0;
  width: 100%;
}
.content label {
  font-weight: bold;
  margin-right: 1em;
}
.content table {
  display: flex;
  margin: 10px 0;
  width: 100%;
}
body .label {
  margin: 0 0 5px 0;
}
body .input {
  width: 100%;
  height: 40px;
  padding: 0 12px;
  border-radius: 4px;
  font-size: 14px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-weight: bold;
}
body .input:focus {
  border-color: #8b8b8b;
}
body .input.error {
  border-color: #d93025;
}
/* adjustments for phone-input2 */
body .input,
#root body .form-control {
  width: 100% !important;
  height: 40px !important;
}
.react-tel-input .form-control {
  padding-left: 56px !important;
}
.react-tel-input .selected-flag {
  width: 44px !important;
  padding: 0px 0px 0 10px !important;
}

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  padding: 27px 0 27px 0;
}

.container > .inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 1000px;
}
.main-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 53%;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 30px;
  padding: 3%;
  border-radius: 2px;
}
.main-column p {
  margin-top: 1px;
}
.main-column,
.bg {
  background: #d3d3d3;
}
.side-column {
  width: 44%;
  background: #eee;
  padding: 30px;
  color: #000;
  border-radius: 2px;
  box-sizing: border-box;
  font-weight: bold;
  line-height: 25px;
  font-size: 14px;
}
.form.success .input:invalid {
  box-shadow: none;
}
.links {
  text-align: center;
}
body .links p {
  margin: 0 0 10px;
}
body .links p:last-child {
  margin: 0;
}
label {
  font-weight: bold;
}
.hidden {
  display: none;
}

h1 {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 10px;
  width: 100%;
}
.row.fieldset {
  margin: 0 0 20px;
}
.fieldset {
  width: 100%;
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
  body .header-row-1-inner {
    padding: 10px 3%;
  }
  body .header-row-2-inner {
    padding: 0 3%;
  }

  .main-column {
    width: 54%;
  }
  .side-column {
    width: 44.5%;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .container .inner {
    flex-direction: column;
  }
  .container {
    padding: 20px 0;
  }
  .main-column,
  .side-column {
    width: 100%;
  }
  .side-column {
    margin-top: 20px;
  }
  body .input {
    font-size: 16px;
  }
}
