@import url("https://fonts.googleapis.com/css?family=Montserrat:500,600&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}
