.owisp-password-change-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  padding: 27px 0 27px 0;
  font-weight: bold;
}

.owisp-password-change-form {
  max-width: 400px;
  min-width: 400px;
  background-color: #d3d3d3;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.owisp-password-change-form-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}

.owisp-password-change-input {
  height: 33px;
  line-height: 40px;
  padding: 0 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  background-color: #fff;
  color: #000;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
}

.owisp-password-change-btn {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.owisp-password-change-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.owisp-password-change-error {
  margin-top: 3px;

  font-size: 14px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  color: #ffffff;
  background: #d93025;
  border-radius: 3px;
  padding: 4px;
  box-sizing: border-box;
}
.owisp-password-change-error-icon {
  display: inline-block;
  min-width: 16px;
  text-align: center;
  margin-right: 4px;
  font-weight: 600;
}
.owisp-password-change-label {
  width: 100%;
  margin-bottom: 10px;
}
.owisp-password-change-label-text {
  color: #000;
  text-transform: capitalize;
}
@media (max-width: 700px) {
  .owisp-password-change-container {
    max-width: 95%;
    margin-left: 20px;
  }
  .owisp-password-change-form {
    min-width: 80%;
    padding: 25px;
  }
  .owisp-password-change-input {
    width: 18rem;
  }
}
