#root .w-900 {
  max-width: 900px;
}
#root .text-left {
  text-align: left;
}
.modal.content {
  padding-top: 1rem;
}
.modal-close-btn {
  text-decoration: none;
  color: inherit;
}
.modal-container .message {
  max-height: 70vh;
  overflow: auto;
  font-size: 0.95em;
  line-height: 1.8em;
}
.modal-container .message h1 {
  text-align: center;
  font-size: 21px;
}
.modal-container .message h2 {
  font-size: 18px;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  #root .modal-container {
    width: 95%;
    max-width: none;
    box-sizing: border-box;
    padding: 20px 5px;
  }

  #root .modal.content {
    padding-top: 0;
  }
  #root .modal.content .modal-container {
    top: 1%;
    height: 98%;
    transform: none;
  }

  .modal-container .message {
    max-height: 93vh;
    padding-right: 15px;
  }
}
