.w-900 {
  max-width: 900px;
}

.text-left {
  text-align: left;
}
.pt-4 {
  padding-top: 1rem;
}
.modal-close-btn {
  text-decoration: none;
  color: inherit;
}

.modal-container div.message h1 {
  text-align: center;
}

.message {
  max-height: 70vh;
  overflow: auto;
}
