.w-900 {
  max-width: 900px;
}

.text-left {
  text-align: left;
}
.pt-4 {
  padding-top: 1rem;
}
.modal-close-btn {
  text-decoration: none;
  color: inherit;
}

.modal-container .message h1 {
  text-align: center;
}

.message {
  max-height: 70vh;
  overflow: auto;
}

.modal-container .message h1 {
  font-size: 21px;
}
.modal-container .message h2 {
  font-size: 18px;
}
.modal-container .message {
  line-height: 30px;
}
