.owisp-login-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  padding: 27px 0 27px 0;
  font-weight: bold;
}
.owisp-login-container-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 1000px;
}
.owisp-login-form {
  background: #d3d3d3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 53%;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 30px;
  padding: 3%;
  border-radius: 2px;
}
.owisp-login-contact-container {
  width: 44%;
  box-sizing: border-box;
}
.owisp-login-form.success .owisp-login-input:invalid {
  box-shadow: none;
}
.owisp-login-fieldset {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: flex-start;
  width: 100%;
  margin-top: 10px;
}
.owisp-login-label {
  margin-top: 10px;
  width: 100%;
}
.owisp-login-label-text {
  color: #000;
  text-transform: capitalize;
}
.owisp-login-input {
  padding: 0 8px;
  border-radius: 4px;
  font-size: 14px;
  height: 33px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 100%;
  font-weight: bold;
}
.owisp-login-input:focus {
  border-color: #a7a7a7;
}
.owisp-login-input.error {
  border-color: #d93025;
}
.owisp-login-form-btn {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #000;
  text-transform: capitalize;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  line-height: 24px;
  padding: 8px 15px;
  font-weight: bold;
  font-size: 16px;
}
.owisp-login-form-btn:focus {
  outline: dotted 1px #ffffff;
  outline-offset: 0.5px;
}
.owisp-login-login-btn {
  margin-top: 10px;
}
.owisp-login-form-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.owisp-login-error {
  margin-top: 3px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  color: #ffffff;
  background: #d93025;
  border-radius: 3px;
  padding: 4px;
  box-sizing: border-box;
}
.owisp-login-error-icon {
  display: inline-block;
  min-width: 16px;
  text-align: center;
  margin-right: 4px;
  font-weight: 600;
}
.owisp-login-label-register-btn {
  margin-top: 20px;
  text-align: center;
}
.owisp-login-form-register-btn-div {
  width: 100%;
}
.owisp-login-register-btn {
  width: 100%;
  display: block;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
}
.owisp-login-add-info {
  margin-top: 10px;
  color: #000;
}
.owisp-login-additional-link {
  color: #000;
}
.owisp-login-additional-link:hover,
.owisp-login-additional-link:focus {
  outline: dotted 1px #000;
  outline-offset: 0.5px;
  text-decoration: none;
}
.owisp-login-social-links-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.owisp-login-social-link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  align-items: center;
  margin-top: 20px;
  padding: 8px 0;
  justify-content: center;
  border-radius: 5px;
}
.owisp-login-social-link > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 60%;
}
.owisp-login-social-link:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.owisp-login-social-link:focus {
  outline: dotted 1px #ffffff;
  outline-offset: 0.5px;
}
.owisp-login-social-link-icon {
  width: auto;
  height: 24px;
}
.owisp-login-social-link-text {
  line-height: 24px;
  font-weight: bold;
  margin-left: 30px;
}
.owisp-login-links-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}
.owisp-login-link {
  text-transform: capitalize;
  color: #000;
}
.owisp-login-link:focus {
  outline: dotted 1px #ffffff;
  outline-offset: 0.5px;
}
.owisp-login-link:hover {
  text-decoration: none;
}
.owisp-login-error-non-field {
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  margin-top: 15px;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .owisp-login-container-inner {
    flex-direction: column;
  }
  .owisp-login-form {
    width: 100%;
    margin-bottom: 20px;
  }
  .owisp-login-contact-container {
    width: 100%;
  }
  .owisp-login-social-link > div {
    width: 80%;
  }
}
