.owisp-password-confirm-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background: #f2f2f2;
  width: 100%;
}
.owisp-password-confirm-form {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 50px;
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.18);
}
.owisp-password-confirm-input:invalid {
  box-shadow: none;
}
.owisp-password-confirm-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.owisp-password-confirm-heading {
  text-transform: capitalize;
  color: #444;
  font-size: 28px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.owisp-password-confirm-subheading {
  color: #444;
  font-size: 16px;
  line-height: 1.5;
  width: 324px;
  text-align: center;
}
.owisp-password-confirm-subheading::first-letter {
  text-transform: uppercase;
}
.owisp-password-confirm-fieldset {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 28px;
}
.owisp-password-confirm-label {
  margin-top: 4px;
  margin-bottom: 4px;
}
.owisp-password-confirm-label-text {
  color: #6b6b6b;
  text-transform: capitalize;
}
.owisp-password-confirm-input {
  padding: 10px;
  border-radius: 3px;
  font-size: 18px;
  border: 2px solid #e7e7e7;
  margin-top: 4px;
  text-transform: capitalize;
  width: 300px;
}
.owisp-password-confirm-input:focus {
  border-color: #a7a7a7;
}
.owisp-password-confirm-input.error {
  border-color: #d93025;
}
.owisp-password-confirm-submit-btn {
  width: 100%;
  margin-top: 16px;
  font-size: 18px;
  height: 50px;
  background: #293b52;
  color: #ffffff;
  text-transform: capitalize;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}
.owisp-password-confirm-submit-btn:hover {
  background: #223144;
}
.owisp-password-confirm-submit-btn:focus {
  outline: dotted 1px #444;
  outline-offset: 0.5px;
}
.owisp-password-confirm-error {
  font-size: 12px;
  color: #d93025;
  width: 324px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.owisp-password-confirm-error-non-field {
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 12px;
}
.owisp-password-confirm-error-icon {
  display: inline-block;
  background: #d93025;
  color: #ffffff;
  min-width: 16px;
  height: 16px;
  border-radius: 50%;
  text-align: center;
  margin-right: 8px;
  font-weight: 600;
}
.owisp-password-confirm-links {
  color: #0d3455;
  margin-top: 16px;
  text-decoration: none;
}
.owisp-password-confirm-links:hover {
  opacity: 0.8;
}
.owisp-password-confirm-success {
  color: #444;
  margin-top: 16px;
  font-size: 18px;
  max-width: 350px;
  text-align: center;
}
.owisp-password-confirm-icon {
  width: 56px;
  height: 56px;
  background: #39c03c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.owisp-password-confirm-tick {
  display: inline-block;
  transform: rotate(45deg);
  height: 28px;
  width: 14px;
  border-bottom: 6px solid #ffffff;
  border-right: 6px solid #ffffff;
  margin-top: -8px;
}
