.payment-process .main-column {
  background-color: #fff;
  border-radius: 5px;
  padding: 2% 4% 1% 4% !important;
}

iframe {
  width: 100%;
  border: 0 none;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .payment-process .main-column {
    border-left: 0 none;
    border-right: 0 none;
    border-radius: 0;
    padding-bottom: 0;
  }
}
