version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: monthly
    open-pull-requests-limit: 10
    versioning-strategy: increase-if-necessary
    ignore:
      - dependency-name: elliptic
        versions:
          - 6.5.4
      - dependency-name: eslint
        versions:
          - 7.19.0
          - 7.21.0
      - dependency-name: css-loader
        versions:
          - 5.0.1
          - 5.1.0
      - dependency-name: eslint-plugin-jest
        versions:
          - 24.1.3
          - 24.1.5
      - dependency-name: prettier
        versions:
          - 2.2.1
      - dependency-name: html-webpack-plugin
        versions:
          - 4.5.0
          - 4.5.1
      - dependency-name: dompurify
        versions:
          - 2.2.6
      - dependency-name: eslint-config-prettier
        versions:
          - 7.2.0
      - dependency-name: babel-loader
        versions:
          - 8.2.2
      - dependency-name: eslint-config-airbnb
        versions:
          - 18.2.1
