.plans input {
  float: right;
  opacity: 0;
}

.plans .plan {
  margin: 0 0 10px;
  border-radius: 5px;
}

.plans .plan label {
  padding: 10px 15px;
  cursor: pointer;
}

.plans .plan:last-child {
  margin: 0;
}

.plans span.title {
  font-size: 16px;
  font-weight: bold;
}

.plans span,
.plans label {
  display: block;
  font-weight: normal;
}

.plans span.price {
  text-align: right;
  font-weight: bold;
}

.plans .inactive label {
  opacity: 0.4;
}

.plans .inactive label:hover {
  opacity: 1;
}

.plans .active label {
  cursor: default;
}

.org-list {
  text-align: left;
  font-weight: bold;
  list-style: inside;
}
