.owisp-registration-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  padding: 27px 0 27px 0;
  font-weight: bold;
  line-height: 30px;
}
.owisp-registration-container-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 1000px;
}
.owisp-registration-form {
  background: #d3d3d3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
  width: 53%;
  box-sizing: border-box;
}
.owisp-registration-form.success .owisp-registration-input:invalid {
  box-shadow: none;
}
.owisp-registration-contact-container {
  width: 44%;
  box-sizing: border-box;
}
.owisp-registration-fieldset {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 10px;
}
.owisp-registration-label {
  width: 100%;
  margin-bottom: 10px;
}
.owisp-registration-label-text {
  color: #000;
  text-transform: capitalize;
}
.owisp-registration-input, .form-control {
  height: 33px;
  line-height: 40px;
  padding: 0 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  background-color: #fff;
  color: #000;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
}
.form-control { width: 100% !important}
.owisp-registration-input:focus {
  border-color: #666666;
}
.owisp-registration-input.error {
  border-color: #d93025;
}
.owisp-registration-add-info {
  color: #000;
  margin-bottom: 10px;
}
.owisp-registration-additional-link {
  color: #000;
}
.owisp-registration-additional-link:hover,
.owisp-registration-additional-link:focus {
  outline: dotted 1px #000;
  outline-offset: 0.5px;
}
.owisp-registration-label-registration-btn {
  align-self: flex-start;
}
.owisp-registration-submit-btn {
  width: 100%;
  font-size: 16px;
  text-transform: capitalize;
  padding: 8px 0;
  line-height: 24px;
  margin-bottom: 10px;
}
.owisp-registration-error {
  margin-top: 3px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  color: #ffffff;
  background: #d93025;
  border-radius: 3px;
  padding: 4px;
  box-sizing: border-box;
}
.owisp-registration-error-icon {
  display: inline-block;
  min-width: 16px;
  text-align: center;
  margin-right: 4px;
  font-weight: 600;
}
.owisp-registration-link {
  text-transform: capitalize;
  color: #000;
}
.owisp-registration-link:focus {
  outline: dotted 1px #444;
  outline-offset: 0.5px;
}
.owisp-registration-link:hover {
  text-decoration: none;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .owisp-registration-container-inner {
    flex-direction: column;
  }
  .owisp-registration-form {
    width: 100%;
    margin-bottom: 20px;
  }
  .owisp-registration-contact-container {
    width: 100%;
  }
}
