.owisp-password-reset-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  color: rgb(51, 51, 51);
}
.owisp-password-reset-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 1000px;
}
.owisp-password-reset-input:invalid {
  box-shadow: none;
}
.owisp-password-reset-heading {
  text-transform: capitalize;
  font-size: 20px;
  color: #666;
  margin-bottom: 20px;
}
.owisp-password-reset-subheading {
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 10px;
}
.owisp-password-reset-subheading::first-letter {
  text-transform: uppercase;
}
.owisp-password-reset-fieldset {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 4px;
}
.owisp-password-reset-label {
  margin-bottom: 4px;
}
.owisp-password-reset-label-text {
  text-transform: capitalize;
}
.owisp-password-reset-input {
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 18px;
  border: 1px solid #ccc;
}
.owisp-password-reset-input:focus {
  border-color: #aaa;
}
.owisp-password-reset-input.error {
  border-color: #d93025;
}
.owisp-password-reset-send-btn {
  margin-top: 10px;
  padding: 10px 15px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  text-transform: capitalize;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 10px;
}
.owisp-password-reset-send-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.owisp-password-reset-send-btn:focus {
  outline: dotted 1px #333;
}
.owisp-password-reset-error {
  font-size: 12px;
  color: #d93025;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.owisp-password-reset-error-icon {
  display: inline-block;
  background: #d93025;
  color: #ffffff;
  min-width: 16px;
  height: 16px;
  border-radius: 50%;
  text-align: center;
  margin-right: 8px;
  font-weight: 600;
}
.owisp-password-reset-links {
  color: rgb(51, 51, 51);
  margin-top: 10px;
}
.owisp-password-reset-links:hover {
  text-decoration: none;
}
.owisp-password-reset-success {
  font-size: 14px;
}
