.large-table {
  max-width: 1000px;
  width: 100%;
  margin-bottom: 27px;
  margin-right: auto;
  margin-left: auto;
  font-size: 0.85rem;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 0;
  padding-top: 3%;
}
.large-table th {
  padding: 2% 0 2%;
}
.large-table td {
  text-align: center;
  padding: 2% 0 2%;
  border-top: 1px dotted rgba(0, 0, 0, 0.2);
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}
.small-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 27px;
}
.large-table tbody tr:nth-child(odd),
.small-table tbody:nth-child(even) {
  background: rgba(255, 255, 255, 0.3);
}
.small-table tbody td {
  padding: 1.5% 0;
}
.small-table tbody tr:first-child th,
.small-table tbody tr:first-child td {
  padding-top: 3%;
}
.small-table tbody tr:last-child td,
.small-table tbody tr:last-child th {
  padding-bottom: 3%;
}
.active-session {
  font-weight: bold;
}
.loadingContainer {
  padding-left: 50%;
  position: relative;
  top: -7px;
}
.loading {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #2b3a42;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 0.8s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logout-modal {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(94, 110, 141, 0.9);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.logout-modal.is-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.logout-modal-container {
  position: relative;
  width: 90%;
  max-width: 450px;
  margin: 4em auto;
  background: #d3d3d3;
  border-radius: 0.25em 0.25em 0.4em 0.4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-40px);
  transition-property: transform;
  transition-duration: 0.3s;
}

.logout-modal-container p {
  font-weight: bold;
  padding: 3em 1em;
  width: auto;
}

.logout-modal-container .modal-buttons:after {
  content: "";
  display: table;
  clear: both;
}

.logout-modal-container .modal-buttons li {
  float: left;
  width: 50%;
  list-style: none;
}

.logout-modal-container .modal-buttons {
  padding: 0;
}

.logout-modal-container .modal-buttons button {
  display: block;
  width: 100%;
  border: none;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  backface-visibility: visible;
  transition: background-color 0.2s;
}

.logout-modal-container .modal-buttons li:first-child button {
  border-radius: 0 0 0 0.25em;
}

.logout-modal-container .modal-buttons li:last-child button {
  border-radius: 0 0 0.25em 0;
}

.is-visible .logout-modal-container {
  transform: translateY(0);
}
@media only screen and (min-width: 1170px) {
  .logout-modal-container {
    margin: 8em auto;
  }
}

.logout-modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #d3d3d3;
  font-size: 1.5rem;
  padding: 5px 10px;
  border: none;
}
