.large-table {
  max-width: 1000px;
  width: 99.5%;
  margin-bottom: 27px;
  margin-right: auto;
  margin-left: auto;
  font-size: 0.85rem;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 0;
  padding-top: 3%;
}
.large-table th {
  padding: 2% 0 2%;
}
.large-table td {
  text-align: center;
  padding: 2% 0 2%;
}
.small-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 27px;
}
.small-table tbody td {
  padding: 1.5% 0;
}
.small-table tbody tr:first-child th,
.small-table tbody tr:first-child td {
  padding-top: 3%;
}
.small-table tbody tr:last-child td,
.small-table tbody tr:last-child th {
  padding-bottom: 3%;
}
.small-table tbody th {
  text-align: right;
  padding-right: 2%;
}
.small-table tbody td {
  text-align: left;
  padding-left: 2%;
}
.active-session {
  font-weight: bold;
}
.active-session .button.session-logout {
  margin-left: 20px;
}
.active-session .row.logout .button {
  width: 75%;
  margin: 0 auto;
}
#status.content {
  flex-grow: 0;
}
#sessions {
  flex-grow: 1;
  max-width: 1000px;
  margin: 0 auto;
}
#sessions > div {
  width: 100%;
}
#status .status-content {
  line-height: 22px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
#status .plan-exhausted-message {
  color: #ba2121f7;
}
.flex-wrapper {
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}
.flex-row {
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
.flex-row > .row {
  padding: 3%;
  margin: 0 0 10px;
  box-sizing: border-box;
}
progress + p.progress {
  margin-top: -5px;
}
.limit-info {
  text-align: center;
  margin-bottom: 15px;
}
.limit-info h3 {
  margin: 0 0 10px;
}
.limit-info progress {
  width: 80%;
  height: 40px;
}
.limit-info p.progress {
  font-size: 20px;
}
.limit-info p:last-child {
  margin-bottom: 0;
}
.limit-info .button {
  margin-top: 5px;
}
.limit-info .important {
  color: #ba2121f7;
  margin-top: 15px;
  line-height: 1.5em;
}
#status .plans .intro {
  margin-top: 0px;
  margin-bottom: 15px;
}
#status .plans .plan {
  padding: 10px;
  margin-bottom: 20px;
  text-align: left;
  line-height: 1.6em;
  border: 1px solid #b4b4b4 !important;
}
#status .plans .plan:last-child {
  margin-bottom: 0;
}
#status .plan:hover {
  border: 1px solid #464646 !important;
}

.usage-box {
  border: 1px solid #E4E4E7;
  height: 236px;
  width: 174px;
  border-radius: 16px;
  margin-bottom: 20px;
}

.usage-overview {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.usage-overview-title {
  font-weight: 600;
  font-size: 16px;
}

.usage-checks-container {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.usage-box-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.usage-check-content {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.usage-check-header {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-weight: 600;
}

.usage-progress-wrapper {
  width: 120px;
  height: 120px;
}

.usage-progress-text {
  text-align: center;
}

.usage-progress-remaining {
  font-size: 12px;
}

.usage-check-used {
  font-size: 12px;
  text-align: center;
}

.usage-reset-info {
  font-size: 12px;
}

@media screen and (min-width: 0px) and (max-width: 500px) {
  .logout-modal-container p.message {
    margin: 0 6%;
    line-height: 30px;
  }
  .status-content p {
    min-width: 373px;
  }
  .status-content label {
    margin-right: 0.4em;
  }
}
