.owisp-header-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  font-family: sans-serif;
}
.owisp-header-row-1 {
  width: 100%;
  background: #4a8456;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.owisp-header-row-1-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  max-width: 1000px;
  padding: 5px 0;
}
.owisp-header-logo-div {
  width: auto;
  height: 60px;
}
.owisp-header-logo-image {
  height: 100%;
  width: auto;
}
.owisp-header-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 1;
}

.owisp-header-language-btn {
  padding: 5px 2px;
  margin: 0 5px;
  text-transform: uppercase;
  border: none;
  color: #ffffff;
  background: none;
  outline: none;
  cursor: pointer;
  border-bottom: 3px rgba(0, 0, 0, 0) solid;
}
.owisp-header-language-btn.active {
  border-bottom-color: #ffffff;
}
.owisp-header-row-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  background: #6f9d78;
}
.owisp-header-row-2-inner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 1000px;
  flex-grow: 1;
  padding: 10px 0;
}
.owisp-header-link {
  padding: 8px 15px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  border: 0 none;
  cursor: pointer;
}
.owisp-header-link:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.owisp-header-mobile {
  display: none;
}
.owisp-display-none {
  display: none;
}
.owisp-display-flex {
  display: flex;
}
.owisp-opacity-hidden {
  opacity: 0;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .owisp-header-hamburger {
    width: 38px;
    margin-right: 10px;
    height: 30px;
    cursor: pointer;
  }
  .owisp-header-hamburger:focus {
    outline: dotted 1px #fff;
  }
  .owisp-header-hamburger > div {
    height: 5px;
    background: #fff;
    content: "";
    position: relative;
    transition: 0.25s all ease-in-out;
    border-radius: 1px;
  }
  .owisp-rot45 {
    transform: rotate(45deg);
    top: 10px !important;
  }

  .owisp-rot-45 {
    transform: rotate(-45deg);
  }

  .owisp-header-hamburger div:nth-child(1) {
    top: 0;
  }
  .owisp-header-hamburger div:nth-child(2) {
    top: 5px;
  }
  .owisp-header-hamburger div:nth-child(3) {
    top: 10px;
  }
  .owisp-header-mobile {
    display: flex;
    flex-direction: column;
  }
  .owisp-header-mobile-menu {
    transition: 0.25s all ease-in-out;

    flex-direction: column;
    background: #6f9d78;
    align-items: center;
  }
  .owisp-header-mobile-menu > .owisp-header-link {
    margin-right: 0;
    margin: 4px 0;
    width: 90%;
    box-sizing: border-box;
  }
  .owisp-header-desktop {
    display: none;
  }
  .owisp-mobile-languages-row {
    width: 90%;
    margin: 0 0 12px 0;
  }
  .owisp-header-language-btn.active {
    cursor: auto;
  }
}
