.header-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.header-row-1 {
  width: 100%;
  background: #ccc;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header-row-1-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  max-width: 1000px;
  padding: 10px 0;
  height: 104px;
  box-sizing: border-box;
}
.header-left {
  height: 100%;
}
.header-logo-div {
  height: 100%;
  width: auto;
}
.header-logo-image {
  height: 100%;
  width: auto;
}
.header-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 1;
}

.header-language-btn {
  padding: 5px 2px;
  margin: 0 5px;
  text-transform: uppercase;
  border: none;
  color: #000;
  font-weight: bold;
  background: none;
  outline: none;
  cursor: pointer;
  border-bottom: 3px rgba(0, 0, 0, 0) solid;
}
.header-language-btn.active {
  border-bottom-color: #000;
}
.header-row-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  background: #555;
  min-height: 54px;
}
.header-row-2-inner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 1000px;
  flex-grow: 1;
  padding: 10px 0;
}
.header-link {
  padding: 8px 15px;
  margin-right: 10px;
  font-size: 14px;
}
.header-link.active {
  background-color: rgba(0, 0, 0, 0.2) !important;
  cursor: default;
}
.header-mobile {
  display: none;
}
.display-none {
  display: none;
}
.display-flex {
  display: flex;
}
.opacity-hidden {
  opacity: 0;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .header-hamburger {
    width: 30px;
    height: 26px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 15px;
    border-radius: 5px;
  }
  .header-hamburger:focus {
    outline: dotted 1px #fff;
  }
  .header-hamburger > div {
    height: 5px;
    background: #fff;
    content: "";
    position: relative;
    transition: 0.25s all ease-in-out;
    border-radius: 1px;
  }
  .rot45 {
    transform: rotate(45deg);
    top: 10px !important;
  }

  .rot-45 {
    transform: rotate(-45deg);
  }

  .header-hamburger div:nth-child(1) {
    top: 0;
  }
  .header-hamburger div:nth-child(2) {
    top: 5px;
  }
  .header-hamburger div:nth-child(3) {
    top: 10px;
  }
  .header-mobile {
    display: flex;
    flex-direction: column;
  }
  .header-mobile-menu {
    transition: 0.25s all ease-in-out;
    flex-direction: column;
    background: #555;
    align-items: center;
    padding: 20px 0 0;
  }
  .header-mobile-menu > .header-link {
    margin: 6px 0;
    width: 90%;
    box-sizing: border-box;
    text-align: center;
    font-size: 15px;
    padding: 12px 0;
  }
  .header-desktop {
    display: none;
  }
  .mobile-languages-row {
    width: 90%;
    margin: 5px 0 0 0;
    line-height: 40px;
  }
  .header-language-btn {
    color: #fff;
    border-bottom-color: #fff !important;
  }
  .header-language-btn.active {
    cursor: auto;
  }
}
