.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  padding: 20px 0;
}
.footer-row-1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer-row-1-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  max-width: 1000px;
}
.footer-link {
  padding: 0 2px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 600;
}
.footer-link:hover,
.footer-container a:hover {
  text-decoration: none;
}
.footer-row-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  max-width: 1000px;
  margin-top: 4px;
  margin-top: 10px;
}
.footer-row-2-inner {
  display: block;
  text-align: center;
  font-size: smaller;
}
