---
name: "default name"
slug: "default"

settings:
  radiusRealms: false
  mobilePhoneVerification: false
  subscriptions: false
  payment_iframe: false
  payment_requires_internet: false
  passwordless_authToken_name: "sesame"

# configuration variables for the server app
server:
  # put the URL of openwisp-radius here
  host: "http://127.0.0.1:8000"
  uuid: organization_uuid
  secret_key: organization_secret_key
  timeout: 2 #request timeout period in seconds

# configuration variables for the client
# Path of all the assets should be defined relative to the organization's folder
# in assets directory.
client:
  auto_login: True

  # path of favicon
  favicon: "favicon.png"

  # path of the custom css file or files relative to organization's
  # folder in assets directory.
  css:
    - "index.css"
  js: []
  languages:
    - text: "english"
      slug: "en"
  default_language: "en"
  components:
    header:
      logo:
        url: "openwisp-logo-black.svg" # logo url
        alternate_text: "openwisp"
      links: []

    footer:
      links: []
      secondary_text: false

    registration_form:
      autoSelectFirstPlan: false
      inputFields:
        phoneNumber: {}
        username:
          pattern: '[a-zA-Z@.+\-_\d]{1,150}'
        email:
          pattern: '.+@.+\..+'
        password:
          pattern: ".{6,}"
        password_confirm:
          pattern: ".{6,}"
        firstName:
          setting: "disabled"
        lastName:
          setting: "disabled"
        birthDate:
          setting: "disabled"
        location:
          pattern: '[a-zA-Z@.+\-_\d]{1,150}'
          setting: "disabled"
        country:
          pattern: '[a-zA-Z@.+\-_\d\s]{1,150}'
        zipcode: {}
        street: {}
        city: {}
        taxNumber:
          pattern: '[a-zA-Z@.+\-_\d]{1,150}'
      additionalInfoText: true
      links:
        login: true

    password_reset_form:
      additional_text: true
      contact_text: true
      login_page_link: true

    password_reset_confirm_form:
      additional_text: true
      inputFields:
        password:
          pattern: ".{6,}"
        password_confirm:
          pattern: ".{6,}"
      contact_text: true
      login_page_link: true

    contact_page:
      email: null
      helpdesk: null
      socialLinks: []

    status_page:
      accountingSwapOctets: false
      radius_usage_enabled: false
      links: []

    login_form:
      socialLogin:
        links: []
      inputFields:
        username:
          type: "email"
          pattern: '.+@.+\..+'
        password:
          pattern: ".{6,}"
        rememberMe:
          value: true
      additionalInfoText: true
      buttons:
        register: true
      links:
        forget_password: true

    password_change_form:
      inputFields:
        password1:
          pattern: ".{6,}"
        password2:
          pattern: ".{6,}"

    404_page:
      heading: true
      sub_heading: true
      message: true
      homepage_link: true

    captive_portal_sync_auth: false

    captive_portal_login_form:
      method: post
      action: http://localhost:8000/captive-portal-mock/login/
      fields:
        username: auth_user
        password: auth_pass
      macaddr_param_name: macaddr
      additional_fields:
        - name: zone
          value: zone_name
        - name: redirurl
          value: http://localhost:8080/default/status
        - name: accept
          value: accept

    captive_portal_logout_form:
      method: post
      action: http://localhost:8000/captive-portal-mock/logout/
      fields:
        id: logout_id
      additional_fields: []
      logout_by_session: true
      waitAfter: 3000

    mobilePhoneVerification_form:
      inputFields:
        code:
          pattern: "[0-9]{6,}"

    phoneNumberChange_form:
      buttons:
        change_phoneNumber: true
        cancel: true

  privacyPolicy:
    en: "privacy-en.md"
  termsAndConditions:
    en: "terms-en.md"
