.owisp-contact-container {
  background: #eee;
  padding: 30px;
  color: #000;
  border-radius: 2px;
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
  line-height: 25px;
  font-size: 14px;
}
.owisp-contact-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.owisp-contact-label {
  margin-right: 4px;
}
.owisp-contact-text {
  color: #000;
}
.owisp-contact-text:hover {
  text-decoration: none;
}
.owisp-contact-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 15px;
}
.owisp-contact-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.owisp-contact-link:hover {
  text-decoration: none;
}
.owisp-contact-image {
  width: 58px;
  height: auto;
  margin: 0px 15px 0 0;
}
