.logout-modal {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.logout-modal.is-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}
.logout-modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%) !important;
  margin: 0 auto !important;
  padding: 3.1em 1em 3em;
  width: 90%;
  max-width: 500px;
  border-radius: 0.25em 0.25em 0.4em 0.4em;
  text-align: center;
  transition-property: transform;
  transition-duration: 0.3s;
}
.logout-modal-container p {
  margin-top: 0;
}
.modal-container .modal-buttons {
  margin: 2.5em 0 0;
}
.modal-container .modal-buttons button {
  margin: 0 20px;
  padding-left: 25px;
  padding-right: 25px;
}
