.owisp-mobile-phone-verification-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  padding: 27px 0 27px 0;
}
.owisp-mobile-phone-verification-container-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 1000px;
}
.owisp-main-content {
  background: #d3d3d3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 53%;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 30px;
  padding: 3%;
  border-radius: 2px;
}
.owisp-mobile-phone-verification-contact-container {
  width: 44%;
  box-sizing: border-box;
}

form, .fieldset { width: 100% }
.owisp-mobile-phone-verification-form.success .owisp-mobile-phone-verification-input:invalid {
  box-shadow: none;
}
.owisp-mobile-phone-verification-fieldset {
  display: block;
  /* flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: flex-start; */
  width: 100%;
  /* margin-top: 10px; */
}
.owisp-mobile-phone-verification-label-text {
  color: #000;
}
.owisp-mobile-phone-verification-input {
  padding: 0 8px;
  border-radius: 4px;
  font-size: 14px;
  height: 33px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 100%;
  font-weight: bold;
}
.owisp-mobile-phone-verification-input:focus {
  border-color: #a7a7a7;
}
.owisp-mobile-phone-verification-input.error {
  border-color: #d93025;
}
.owisp-mobile-phone-verification-form-btn,
.owisp-mobile-phone-verification-container .owisp-btn-primary {
  line-height: 24px;
  padding: 8px 15px;
  margin-top: 10px;
}
.owisp-btn-primary.full-line{
  display: block;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
}
.owisp-mobile-phone-verification-error {
  margin-top: 3px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  color: #ffffff;
  background: #d93025;
  border-radius: 3px;
  padding: 4px;
  box-sizing: border-box;
}
.owisp-mobile-phone-verification-error-icon {
  display: inline-block;
  min-width: 16px;
  text-align: center;
  margin-right: 4px;
  font-weight: 600;
}
.owisp-mobile-phone-verification-submit-btn {
  width: 100%;
  display: block;
  box-sizing: border-box;
  text-align: center;
}
/* .owisp-mobile-phone-verification-add-info {
  margin-top: 10px;
  color: #000;
}
.owisp-mobile-phone-verification-additional-link {
  color: #000;
}
.owisp-mobile-phone-verification-additional-link:hover,
.owisp-mobile-phone-verification-additional-link:focus {
  outline: dotted 1px #000;
  outline-offset: 0.5px;
  text-decoration: none;
}
.owisp-mobile-phone-verification-social-links-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.owisp-mobile-phone-verification-social-link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
  margin-top: 20px;
  padding: 8px 0;
  justify-content: center;
}
.owisp-mobile-phone-verification-social-link > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 60%;
}
.owisp-mobile-phone-verification-social-link-icon {
  width: auto;
  height: 24px;
}
.owisp-mobile-phone-verification-social-link-text {
  line-height: 24px;
  font-weight: bold;
  margin-left: 30px;
}
.owisp-mobile-phone-verification-links-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}
.owisp-mobile-phone-verification-link {
  color: #000;
}
.owisp-mobile-phone-verification-link:focus {
  outline: dotted 1px #ffffff;
  outline-offset: 0.5px;
} */
/* .owisp-mobile-phone-verification-link:hover {
  text-decoration: none;
} */
.owisp-mobile-phone-verification-error-non-field {
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  margin-top: 15px;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .owisp-mobile-phone-verification-container-inner {
    flex-direction: column;
  }
  .owisp-main-content {
    width: 100%;
    margin-bottom: 20px;
  }
  .owisp-mobile-phone-verification-contact-container {
    width: 100%;
  }
  .owisp-mobile-phone-verification-social-link > div {
    width: 80%;
  }
}
